<bl-scrollable>

    <div class="sidemenu">
        <div>
            <h2 style="border-style: solid;" > Application </h2>
            <div>
                <img class="logo" [src]="icon" height="30" width="30" alt="Smiley face"><span [title]="applicationId">{{applicationId}}</span>
            </div>
        </div>
        <div>
            <h2 style="border-style: solid;"> Action </h2>
            <div>
                {{actionId}}
            </div>
        </div>
        <div *ngIf="modeState != modes.None">
            <h2 style="border-style: solid;" > Mode </h2>
            <div>
                {{modes[modeState]}}
            </div>
        </div>

        <div *ngIf="modeState == modes.PoolNJob || modeState == modes.Pool">
            <div *ngIf="form?.controls.poolName?.value && form?.controls.numberNodes?.value && form?.controls.vmSize?.value">
                <h2 style="border-style: solid;" > Pool </h2>
                <div> Pool: {{form.controls.poolName.value}} </div>
                <div> Nodes: {{form.controls.numberNodes.value}} </div>
                <div> Type: {{form.controls.vmSize.value}} </div>
            </div>
        </div>

        <div *ngIf="modeState == modes.PoolOJob">
            <div *ngIf="pickedPool?.value">
                <h2 style="border-style: solid;" > Pool </h2>
                <div> Pool: {{pickedPool.value.poolId}} </div>
            </div>
        </div>

        <div *ngIf="modeState == modes.PoolNJob || modeState == modes.PoolOJob">
            <div *ngIf="_isJobComplete()">
                <h2 style="border-style: solid;" > Job </h2>
                 <div *ngFor="let param of _getParameters(jobTemplate)">
                     {{param}}: {{form.controls[param].value}}
                 </div>
            </div>
        </div>

        <div *ngIf = "modeState == modes.PoolNJob">
            <div *ngIf = "_isJobComplete() && _isPoolComplete()">
                <h2 style="border-style: solid;" > Cost </h2>
                <div>
                    Cost: $10
                </div>
                <button style="width:100px;background-color:#3e81b0;" (click) = "_onSubmit()" type="button"  md-raised-button>Submit</button>
            </div>
        </div>

        <div *ngIf = "modeState == modes.PoolOJob">
            <div *ngIf = "_isJobComplete() && pickedPool?.value">
                <h2 style="border-style: solid;" > Cost </h2>
                <div>
                    Cost: $15
                </div>
                <button style="width:100px;background-color:#3e81b0;" (click) = "_onSubmit()" type="button"  md-raised-button>Submit</button>
            </div>
        </div>

        <div *ngIf = "modeState == modes.Pool">
            <div *ngIf = "_isPoolComplete()">
                <h2 style="border-style: solid;" > Cost </h2>
                <div>
                    Cost: $20
                </div>
                <button style="width:100px;background-color:#3e81b0;" (click) = "_onSubmit()" type="button"  md-raised-button>Submit</button>
            </div>

        </div>

    </div>
    <div *ngIf="modeState == modes.None">
        <bl-complex-form [formGroup]="form" [hideFooter]="true">
            <bl-form-page main-form-page [title]="title">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolNJob" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolOJob" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.Pool" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="modeState == modes.PoolNJob">
        <bl-complex-form [formGroup]="form" [hideFooter]="true">
            <bl-form-page main-form-page [title]="title">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "modeState = modes.PoolNJob" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolOJob" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.Pool" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>

                <bl-form-section title="Pool">
                    <div *ngFor="let param of _getParameters(poolTemplate)" [ngSwitch]="_getType(param)">
                        <div *ngSwitchCase="'string'">
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchCase="'file-group'">
                            <bl-file-group-picker [formControlName]="param" [label]="param" class="form-element" [hint]="poolTemplate.parameters[param].metadata.description">
                            </bl-file-group-picker>
                        </div>
                        <div *ngSwitchCase="'file-in-file-group'">
                            <bl-cloud-file-picker [containerId]="getContainerFromFileGroup(form.controls[poolTemplate.parameters[param].metadata.dependsOn]?.value)" [formControlName]="param"
                            [label]="param" class="form-element" [hint]="poolTemplate.parameters[param].metadata.description">
                            </bl-cloud-file-picker>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <md-select [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                                <md-option *ngFor="let opt of poolTemplate.parameters[param].allowedValues" [value]="opt">{{opt}}</md-option>
                            </md-select>

                        </div>
                        <div *ngSwitchCase="'int'">
                            <md-input-container class="form-element">
                            <input mdInput type="number" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchDefault>
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                    </div>
                </bl-form-section>

                <bl-form-section title="Job">
                    <div *ngFor="let param of _getParameters(jobTemplate)" [ngSwitch]="_getType(param)">
                        <div *ngSwitchCase="'string'">
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchCase="'file-group'">
                            <bl-file-group-picker [formControlName]="param" [label]="param" class="form-element" [hint]="jobTemplate.parameters[param].metadata.description">
                            </bl-file-group-picker>
                        </div>
                        <div *ngSwitchCase="'file-in-file-group'">
                            <bl-cloud-file-picker [containerId]="_getContainerFromFileGroup(form.controls[jobTemplate.parameters[param].metadata.dependsOn]?.value)" [formControlName]="param"
                            [label]="param" class="form-element" [hint]="jobTemplate.parameters[param].metadata.description">
                            </bl-cloud-file-picker>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <md-select [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                                <md-option *ngFor="let opt of jobTemplate.parameters[param].allowedValues" [value]="opt">{{opt}}</md-option>
                            </md-select>
                        </div>
                        <div *ngSwitchCase="'int'">
                            <md-input-container class="form-element">
                            <input mdInput type="number" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchDefault>
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                    </div>
                </bl-form-section>

            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="modeState == modes.PoolOJob">
        <bl-complex-form [formGroup]="form" [hideFooter]="true">
            <bl-form-page main-form-page [title]="title">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolNJob" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "modeState = modes.PoolOJob" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.Pool" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
                <bl-form-section title="Pool">
                    <bl-pool-picker [formControl]="pickedPool"></bl-pool-picker>
                </bl-form-section>
                <bl-form-section title="Job">
                    <div *ngFor="let param of _getParameters(jobTemplate)" [ngSwitch]="_getType(param)">
                        <div *ngSwitchCase="'string'">
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchCase="'file-group'">
                            <bl-file-group-picker [formControlName]="param" [label]="param" class="form-element" [hint]="jobTemplate.parameters[param].metadata.description">
                            </bl-file-group-picker>
                        </div>
                        <div *ngSwitchCase="'file-in-file-group'">
                            <bl-cloud-file-picker [containerId]="_getContainerFromFileGroup(form.controls[jobTemplate.parameters[param].metadata.dependsOn]?.value)" [formControlName]="param"
                            [label]="param" class="form-element" [hint]="jobTemplate.parameters[param].metadata.description">
                            </bl-cloud-file-picker>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <md-select [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                                <md-option *ngFor="let opt of jobTemplate.parameters[param].allowedValues" [value]="opt">{{opt}}</md-option>
                            </md-select>

                        </div>
                        <div *ngSwitchCase="'int'">
                            <md-input-container class="form-element">
                            <input mdInput type="number" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchDefault>
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{jobTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                    </div>
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="modeState == modes.Pool">
        <bl-complex-form [formGroup]="form" [hideFooter]="true">
            <bl-form-page main-form-page [title]="title">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolNJob" type="button"  md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "modeState = modes.PoolOJob" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "modeState = modes.Pool" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
                <bl-form-section title="Pool">
                    <div *ngFor="let param of _getParameters(poolTemplate)" [ngSwitch]="_getType(param)">
                        <div *ngSwitchCase="'string'">
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchCase="'file-group'">
                            <bl-file-group-picker [formControlName]="param" [label]="param" class="form-element" [hint]="poolTemplate.parameters[param].metadata.description">
                            </bl-file-group-picker>
                        </div>
                        <div *ngSwitchCase="'file-in-file-group'">
                            <bl-cloud-file-picker [containerId]="_getContainerFromFileGroup(form.controls[poolTemplate.parameters[param].metadata.dependsOn]?.value)" [formControlName]="param"
                            [label]="param" class="form-element" [hint]="poolTemplate.parameters[param].metadata.description">
                            </bl-cloud-file-picker>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <md-select [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                                <md-option *ngFor="let opt of poolTemplate.parameters[param].allowedValues" [value]="opt">{{opt}}</md-option>
                            </md-select>

                        </div>
                        <div *ngSwitchCase="'int'">
                            <md-input-container class="form-element">
                            <input mdInput type="number" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                        <div *ngSwitchDefault>
                            <md-input-container class="form-element">
                            <input mdInput type="text" name="name" [formControlName]="param" [placeholder]="param">
                                <md-hint align="end">{{poolTemplate.parameters[param].metadata.description}}</md-hint>
                            </md-input-container>
                        </div>
                    </div>
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>
</bl-scrollable>
